[submodule "lib/ArduinoSTL"]
	path = lib/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL.git
[submodule "lib/Ethernet"]
	path = lib/Ethernet
	url = https://github.com/arduino-libraries/Ethernet.git
[submodule "lib/core"]
	path = lib/core
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "lib/controllino"]
	path = lib/controllino
	url = https://github.com/CONTROLLINO-PLC/CONTROLLINO_Library.git
[submodule "lib/ntpclient"]
	path = lib/ntpclient
	url = https://github.com/arduino-libraries/NTPClient.git
[submodule "lib/sigslot"]
	path = lib/sigslot
	url = https://github.com/KubaO/sigslot
[submodule "lib/mqtt"]
	path = lib/mqtt
	url = https://github.com/256dpi/arduino-mqtt.git
[submodule "lib/memoryfree"]
	path = lib/memoryfree
	url = https://github.com/McNeight/MemoryFree.git
